apiVersion: argoproj.io/v1alpha1
kind: Application

metadata:
  name: app-argo1
  namespace: argocd

spec:
  destination:
    server: https://kubernetes.default.svc
  project: default
  source:
    repoURL: https://github.com/Ashwani028/demo-manifest-files.git
    path: .
    targetRevision: main
  syncPolicy:
    automated:
      enabled: true
      





  
